*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    background:url("bg.jpg") center/cover no-repeat;
    font-family:Arial, sans-serif;
    color:white;
}

body::before{
    content:"";
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.72);
    backdrop-filter:blur(4px);
}

.app{
    position:relative;
    z-index:1;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.card{
    width:100%;
    max-width:520px;
    background:rgba(0,0,0,0.82);
    border-radius:22px;
    padding:24px;
    text-align:center;
}

.subtitle{
    color:#cfcfcf;
    margin:10px 0 20px;
}

input{
    width:100%;
    padding:14px;
    border-radius:12px;
    border:none;
    margin-bottom:15px;
    font-size:16px;
}

.main-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#00c853;
    color:white;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
}

.match-card{
    background:rgba(255,255,255,0.10);
    border:1px solid rgba(255,255,255,0.08);
    border-radius:16px;
    padding:15px;
    margin-bottom:14px;
}

.teams{
    font-size:20px;
    font-weight:bold;
    margin-bottom:12px;
}

.vs{
    color:#00c853;
    margin:0 8px;
}

.options{
    display:flex;
    gap:10px;
    justify-content:center;
}

.option-btn{
    width:70px;
    height:45px;
    border:none;
    border-radius:12px;
    background:#2f3542;
    color:white;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    transition:all .25s ease;
}

.option-btn.active{
    background:#00c853;
    color:white;
    box-shadow:0 0 15px #00c853;
    transform:scale(1.05);
}